.auth-container{
        width:clamp(300px, 90%, 1600px);
        margin:0 auto;
        display: grid;
        grid-template-columns: 1fr 300px;
       @media (max-width: 600px) {
            background: url('../../../assets/krishito.png') no-repeat center center;
            .splash-img{
                img{
                    display:none;
                }
            }
        }
        .splash-img{
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    .card{
        background: rgb(213 234 255 / 64%);
        border:none;
        border-radius:15px;
        gap:15px;
    }
    .links{
        display: flex;
        justify-content: space-between;
    }
    .form-group{
        margin-bottom:15px;
    }
    .error{
        span{
            font-size:10px;
            color:rgb(251 70 70);
            display:flex;
        }
    }
}