<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow p-4" style="width: 400px;">
    <h3 class="text-center mb-3">Login</h3>

    <form [formGroup]="form" (ngSubmit)="login()">

      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
        />
        <div class="invalid-feedback">
          Valid email is required
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div class="invalid-feedback">
          Password is required
        </div>
      </div>

      <button class="btn btn-primary w-100">
        Login
      </button>

    </form>
  </div>
</div>
<img src="../../../assets/krishito.jpg" alt="flash Screen" class="flash-screen">
