.card{
    border:1px solid #ccc;
    border-radius:4px;
    background:#fff;
    &_header, &_footer, &_body{
          padding:10px;
  }
}

.card-flex {
  flex: 1 1 300px; /* Grows, shrinks, basis 300px */
  /* Inner alignment for content */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes footer/button to bottom */
}
