.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar{
  height: 100%;
  background-color: #3f51b5;
  transition: width 0.4s ease;
}
