
.main_section{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


.card-container-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
}

.dynamic-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.box {
  background: var(--main-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .user {
    text-transform: capitalize;
  }
}

app-chart {
  display: block;
  width: 100%;
}

.box {
  .table {
    font-size: 14px;

    tr:last-child {
      td {
        border: none;
      }
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .table-actions {
    display: flex;
    gap: 10px;
  }

  .table-title {
    font-size: 1.2em;
    font-weight: bold;
  }
}

@media (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }

  .box-left,
  .box-top-right,
  .box-bottom-right {
    grid-column: auto;
    grid-row: auto;
  }

  .box {
    min-height: 200px;
  }
}




