<div class="main-container">
  <nav class="sidebar">
    <div class="position-sticky pt-3 text-white">
      <ul class="nav flex-column">
         <li class="nav-item logo">
          <a class="nav-link text-white" href="#"><mat-icon svgIcon="logo"></mat-icon>KRISHITO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="logout()" href="#"><mat-icon svgIcon="register"></mat-icon>logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="">
    <header>
        <div class="search"> <span><app-search (resultChange)="onResultChange($event)"></app-search></span></div>
      <div class="">
       
        <ul class="nav header-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" href="#">logout</a>
          </li>
        </ul>
      </div>
    </header>
    <!-- <div class="card-container-flex">
        <lib-dynamic-form
          class="dynamic-form"
          [fields]="userFormFields"
          (formSubmit)="handleSubmit()">
        </lib-dynamic-form>
      </div> -->
    <div class="layout">
      <div class="box box-left">
        <table class="table">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Name</th>
              <th>Age</th>
              <th>Type</th>
              <th>Milk</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td class="highlight">TX</td>
              <td class="highlight">5</td>
              <td>Cow</td>
              <td>18</td>
              <td class="highlight">
                <a (click)="add()">ADD</a> | <a (click)="delete()">Delete</a> |
                <a (click)="edit()">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box box-top-right">
        <div class="chart">
          <h3>Milk Production</h3>
          <app-chart [chartData]="lineChartData()" chartType="line">
          </app-chart>
        </div>
      </div>
      <!-- <div class="box box-bottom-right">
          <div class="chart">
            <h3>Animal Distribution</h3>
            <app-chart [chartData]="pieChartData" [chartType]="'pie'">
            </app-chart>
          </div>
        </div> -->
    </div>
  </main>
</div>
