:root {
  --main-bg-color: #567973;
  --sub-bg-color: #a2c1bd;
  --main-text-color: #2d2930;
  --sub-text-color: #bbbaba;
  --icon-color:#acd1cc;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
