.grid-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
    border:1px solid #ccc;
    border-radius:4px;
    margin-top:10px;
    .label-text{
        line-height: 10px;
    }
    &.disable{
        opacity: 0.6;
        text-decoration: line-through;
    }
}